snpdb_name {{ item.snpdb_name|lower }}
reference_genome {{ item.reference_genome }}
pg_uname {{ pg_uname }}
pg_pword {{ pg_pword }}
pg_host {{ item.pg_host }}
depth_cutoff {{ item.depth_cutoff }}
mq_cutoff {{ item.mq_cutoff }}
ad_cutoff {{ item.ad_cutoff }}
average_depth_cutoff {{ item.average_depth_cutoff }}
mapper {{ item.mapper }}
mapper_threads {{ item.mapper_threads }}
variant_caller {{ item.variant_caller }}
variant_caller_threads {{ item.variant_caller_threads }}
